<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

    <!-- The main REPL UI contribution. -->
    <extension point="org.eclipse.ui.views">
        <category id="org.metaborg.spoofax.shell.eclipse"
                name="Spoofax"/>
        <view id="org.metaborg.spoofax.shell.eclipse.view"
            name="REPL"
            icon="icons/icon.gif"
        category="org.metaborg.spoofax.shell.eclipse"
           class="org.metaborg.spoofax.shell.client.eclipse.ReplView"/>
    </extension>

</plugin>
